{% extends 'layout.html' %}
{% block body %}
    <p> {{user}} </p> 
    <p>Do you want to delete your account? <form action="" method="POST"> {{deluser.submit}} </form> </p>
        <form action="" method="POST">
            {{postform.hidden_tag() }}
            {{postform.detail.label}} {{postform.detail}}
            <br>
            {{postform.submit}}
        </form>
    <br>
    {% for post in posts %}
        <p> {{users[posts.index(post)]}} says: {{post}}</p>
    {% endfor %}
{% endblock body %}