{% extends 'layout.html' %}
{% block body %}
    <h2> Hello {{user}} </h2> 
        <form action="" method="POST">
            {{postform.hidden_tag() }}
            {{postform.detail.label}} {{postform.detail}}
            <br>
            {{postform.submit}}
        </form>
    <br>
    {% for post in posts %}
        <p> {{users[posts.index(post)]}} says: {{post}}</p>
        {% if {{users[posts.index(post)]}} == {{user}} %}
            <form action="" method="POST">
                {{delpost.hidden_tag()}}
                {{delpost.post}} = {{post}}
                {{delpost.submit}}
            </form>
        {%  %}
    {% endfor %}
    <br>
    <br>
    <form action="" method="POST"> 
        {{deluser.submit}} 
    </form>
{% endblock body %}