{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-sm-4">
    <h2> Hello {{user}} </h2> 
        <form action="" method="POST" >
            {{postform.hidden_tag() }}
            {{postform.detail.label}} {{postform.detail}}
            {{postform.submit}}
        </form>
    <br>
    </div>  
    <div class="col-sm-8"></div>
        {% if name_change == False %}
            <form action="" method="POST">
                {{postform.chname_button}}
            </form>
        {% else %}
            <form action="" method="POST">
                {{postform.chname.label}} {{postform.chname}}  
                {{postform.submit4}}<br>
            </form>
        {% endif %}
        <br>
        {% if delete_account == False %}
            <form action="" method="POST">
                {{postform.submit3}}
            </form>
        {% else %}
            <form action="" method="POST">
                Are you sure? {{postform.yesdel}}  {{postform.nodel}} 
            </form>
        {% endif %}
    </div> 
</div>
<div class="row">
    <br>
    <form action="" method="POST">
    {% for post in posts %}
        <p class="hmm"> {{users[posts.index(post)]}} says: {{post}} </p>
        {% if users[posts.index(post)] == user %}
                {{postform.post(value=posts_id[posts.index(post)])}}
                {{postform.submit2}}
        {% endif %}
        <br>
    {% endfor %}
    </form>
</div>
    <!-- <br>
    {% if name_change == False %}
        <form action="" method="POST">
            {{postform.chname_button}}
        </form>
    {% else %}
        <form action="" method="POST">
            {{postform.chname.label}} {{postform.chname}}  
            {{postform.submit4}}<br>
        </form>
    {% endif %}
    <br>
    {% if delete_account == False %}
        <form action="" method="POST">
            {{postform.submit3}}
        </form>
    {% else %}
        <form action="" method="POST">
            Are you sure? {{postform.yesdel}}  {{postform.nodel}} 
        </form>
    {% endif %} -->
{% endblock body %}