<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>With layout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
          background-color:lavenderblush;
        }
        
        h1 {
          text-align: center;
        }
        .hmm {
        display: inline-block;
        }
        </style> 
</head>
<body>
    <h1>Family Space</h1>
    {% block body %}
    {% endblock body %}
</body>
</html>