{% extends 'layout.html' %}
{% block body %}
{% if are_users == True %}
    <div class="row">
        <div class="col-sm-12">
            <h3> Login </h3> 
                <form action="" method="POST">
                    {{form.hidden_tag()}}
                    {{form.users}} 
                    {{form.submit}}
                </form>
        </div>  
    </div>
    <br>
{% endif %}
<div class="row">
    <div class="col-sm-6">
        <h4> Add New User </h4> 
        <form action="" method="POST">
            {{formuser.hidden_tag()}}
            {{formuser.name.label}} {{formuser.name}}  
            {{formuser.submit}}<br>
        </form>
    </div>  
    <div class="col-sm-6"> 
        {% if formuser.name.errors %}
        <div class='error'>
            {% for error in formuser.name.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock body %}
